 /* CSS for hiding scrollbar for Chrome, Safari and Opera */
 .hide-scrollbar::-webkit-scrollbar {
    display: none;
  }
  
  /* CSS for hiding scrollbar for IE, Edge and Firefox */
  .hide-scrollbar {
    -ms-overflow-style: none;  /* IE and Edge */
    scrollbar-width: none;  /* Firefox */
  }
  /* Animation applied to the image container */
.image-reveal-animation {
  animation: imageReveal 1s cubic-bezier(0.4, 0, 0.2, 1) forwards;
}

@keyframes imageReveal {
  0% {
    clip-path: polygon(0 0, 100% 0, 100% 0%, 0 0%);
  }
  100% {
    clip-path: polygon(0 0, 100% 0, 100% 100%, 0 100%);
  }
}
