.third-product-rail {
    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative; /* Allows absolute positioning of child items */
  }
  
  .third-product-rail-title {
    font-size: 24px;
    text-align: center;
  }
  
  .third-product-collection {
    position: relative; /* Relative to this div, we will absolutely position our items */
    width: 100%;
    height: auto;
    min-height: 600px; /* Adjust based on your content */
  }
  @media (max-width: 1024px) {
    .third-product-collection{
      min-height: 900px; /* Adjust based on your content */
    }
  }
  @media (max-width: 500px) {
    .third-product-collection{
      min-height: 325px; /* Adjust based on your content */
    }
  }
  .product-item {
    position: absolute; /* Positioned absolutely within .third-product-collection */
    text-align: center;
  }
  
  .product-item img {
    width: 250px; /* Increase the width as desired */
    height: auto;
    max-width: none; /* Override the max-width if necessary */
  }
  .container-grow-animation {
    animation: revealContent 1s cubic-bezier(0.25, 0.1, 0.25, 1) forwards;
  }
  
  @keyframes revealContent {
    0% {
      clip-path: polygon(0 0, 100% 0, 100% 0%, 0 0%);
    }
    20% {
      clip-path: polygon(0 0, 100% 0, 100% 10%, 0 10%);
    }
    40% {
      clip-path: polygon(0 0, 100% 0, 100% 30%, 0 30%);
    }
    60% {
      clip-path: polygon(0 0, 100% 0, 100% 60%, 0 60%);
    }
    80% {
      clip-path: polygon(0 0, 100% 0, 100% 90%, 0 90%);
    }
    100% {
      clip-path: polygon(0 0, 100% 0, 100% 100%, 0 100%);
    }
  }
  

  

  
  .product-label {
    font-size: 24px; /* Adjust the font size as needed */
  }
  .image-hidden {
    opacity: 0;
    transform: scaleY(0); /* Initially scale down the image */
    transition: transform 0.5s ease, opacity 0.5s ease; /* Transition for the transform and opacity */
  }
  
  .image-visible {
    opacity: 1;
    transform: scaleY(1); /* Scale up the image to its full size */
    /* The transition is defined in the .image-hidden class */
  }
  
  .carousel-container {
    position: relative;
    width: fit-content;
    margin: auto;
  }
  
  .carousel-image {
    width: 100%; /* Set the width of the images */
    display: none; /* Hide images by default */
  }
  
  .carousel-image.active {
    display: block; /* Show active image */
  }
  
  .dot-container {
    position: absolute;
    left: -25px; /* Adjust as necessary */
    top: 10%;
    transform: translateY(-50%);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
  
  .dot {
    width: 2px;
    height: 2px;
    margin: 5px 0;
    background-color: #ccc;
    border-radius: 50%;
    cursor: pointer;
    transition: all 0.3s ease;
    border: 2px solid transparent; /* Default border to maintain size */
  }
  
  
  
  /* Style for the active dot */
.active-dot {
  height: 0.2px; /* Size of the inner dot */
  width: 0.2px; /* Size of the inner dot */
  background-color: #000; /* Color of the inner dot */
  border-radius: 50%; /* Make the inner dot round */
  display: inline-block; /* Inline display */
  position: relative; /* Positioning context for the pseudo-element */
  margin: 10px; /* Space around the dot */
}

/* Style for the border circle around the active dot */
.active-dot::after {
  content: '';
  position: absolute; /* Position absolute to the parent */
  top: -5px; /* Positioning above the center of the dot */
  left: -5px; /* Positioning to the left of the center of the dot */
  height: 10px; /* Size of the border circle */
  width: 10px; /* Size of the border circle */
  border: 1px solid #ccc; /* Border styling */
  border-radius: 50%; /* Make the border circle round */
  background: transparent; /* Transparent background for the border circle */
}

  
  button {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    background-color: #fff;
    border: 1px solid #ddd;
    padding: 10px;
    cursor: pointer;
  }
  
  button:hover {
    background-color: #f7f7f7;
  }
  
  /* Style the prev button */
  button:first-of-type {
    left: 10px;
  }
  
  /* Style the next button */
  button:last-of-type {
    right: 10px;
  }
  