.third-product-rail {
    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative; /* Allows absolute positioning of child items */
  }
  
  .third-product-rail-title {
    font-size: 24px;
    text-align: center;
  }
  
  .third-product-collection {
    position: relative; /* Relative to this div, we will absolutely position our items */
    width: 100%;
    height: auto;
    min-height: 750px; /* Adjust based on your content */
  }
  @media (max-width: 1024px) {
    .third-product-collection{
      min-height: 500px; /* Adjust based on your content */
    }
  }
  @media (max-width: 768px) {
    .third-product-collection{
      min-height: 400px; /* Adjust based on your content */
    }
  }
  @media (max-width: 500px) {
    .third-product-collection{
      min-height: 500px; /* Adjust based on your content */
    }
  }
  .product-item {
    position: absolute; /* Positioned absolutely within .third-product-collection */
    text-align: center;
  }
  
 
  .container-grow-animation {
    /* animation: revealContent 1s cubic-bezier(0.25, 0.1, 0.25, 1) forwards; */
  }
  
  @keyframes revealContent {
    0% {
      clip-path: polygon(0 0, 100% 0, 100% 0%, 0 0%);
    }
    20% {
      clip-path: polygon(0 0, 100% 0, 100% 10%, 0 10%);
    }
    40% {
      clip-path: polygon(0 0, 100% 0, 100% 30%, 0 30%);
    }
    60% {
      clip-path: polygon(0 0, 100% 0, 100% 60%, 0 60%);
    }
    80% {
      clip-path: polygon(0 0, 100% 0, 100% 90%, 0 90%);
    }
    100% {
      clip-path: polygon(0 0, 100% 0, 100% 100%, 0 100%);
    }
  }
  @keyframes revealFromTop {
    from {
      clip-path: polygon(0 0, 100% 0, 100% 0, 0 0);
    }
    to {
      clip-path: polygon(0 0, 100% 0, 100% 100%, 0 100%);
    }
  }
  
  .imageReveal {
    /* animation: revealFromTop 1.5s forwards; */
  }
  .product-label {
    font-size: 24px; /* Adjust the font size as needed */
  }
  .image-hidden {
    opacity: 0;
    transform: scaleY(0); /* Initially scale down the image */
    transition: transform 0.5s ease, opacity 0.5s ease; /* Transition for the transform and opacity */
  }
  
  .image-visible {
    opacity: 1;
    transform: scaleY(1); /* Scale up the image to its full size */
    /* The transition is defined in the .image-hidden class */
  }
  
  /* Default styles for .carousel-container */
.carousel-container {
  position: relative;
  margin: auto;
  overflow: hidden; /* Hide anything that goes outside the container */
  /* background: red; */
}
.dot-container {
  /* background: green; */
  position: absolute;
  top: 0;
  bottom: 0;
  left: 18px; /* Adjust as needed for spacing from the left edge */
  display: flex;
  flex-direction: column;
  justify-content: flex-start; /* Start aligning items from the top */
  align-items: flex-start; /* Align dots to the start (left side in this case) */
  padding-top: 5px; /* Start the dots 5px from the top */
}

/* Screen width greater than 768px */
@media (min-width: 769px) {
  .carousel-container {
      /* width: 600px;
      height: 400px;  */
      width: 50vw; /* 50% of the viewport width */
  }
}

/* Screen width between 700px and 768px */
@media (min-width: 700px) and (max-width: 768px) {
  .carousel-container {
      width: 340px; /* Set width to 150px */
      height: 400px; /* Adjust height as needed */
  }
}

/* Screen width between 300px and 699px */
@media (min-width: 300px) and (max-width: 699px) {
  .carousel-container {
      width: 280px; /* Set width to 200px */
      height: 350px; /* Adjust height as needed */
  }
}

/* Screen width less than 300px */
@media (max-width: 299px) {
  .carousel-container {

      width: 270px; /* Set width to 150px */
      height: 340px; /* Adjust height as needed */
  }
}
.product-item img {
  /* width: 600px; 
  height: auto;
  max-width: none;  */
  width: 50vw; /* Fill the width of its parent */
  height: 60vh; /* Maintain aspect ratio */
}
  
  .carousel-image {
    max-width: 100%; /* Ensure the image is no wider than the container */
    max-height: 100%; /* Ensure the image is no taller than the container */
    display: none; /* Hide images by default */
  }
  
  .carousel-image.active {
    display: block; /* Show the active image */
  }
  

  .dot {
    width: 5px; /* This will be the size of the outer circle */
    height: 5px; /* This will be the size of the outer circle */
    margin: 10px 5px;
    background-color: #ccc; /* Default color for non-active dots */
    border-radius: 50%;
    cursor: pointer;
    position: relative;
    border: 2px solid transparent; /* Ensure size consistency */
    transition: background-color 0.3s ease;
  }
  
  .dot::before {
    content: '';
    position: absolute;
    top: 5%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 3px; /* This will be the size of the inner circle */
    height: 3px; /* This will be the size of the inner circle */
    background-color: #000; /* Color for active dot */
    border-radius: 50%;
    opacity: 0; /* Hide the inner dot by default */
    transition: opacity 0.3s ease;
  }
  
  .active-dot {
    margin: 3px 5px 25px 5px;
    background-color: transparent; /* Make the outer circle transparent for active dots */
  }
  
  .active-dot::before {
    opacity: 1; /* Show the inner dot for the active dot */
    background-color: #000; /* Color for active dot */
  }
  
  .active-dot::after {
    content: '';
    position: absolute;
    top: -5px; /* Position the outer border correctly */
    left: -4.5px; /* Position the outer border correctly */
    width: 10px; /* This will be the size of the border circle including border width */
    height: 10px; /* This will be the size of the border circle including border width */
    border: 1.5px solid #ccc; /* Border styling for active dot */
    border-radius: 50%;
    background: transparent;
  }
  