/* Hero.css */

/* Add this to your CSS file */
@keyframes slideInFromLeft {
    from {
      width: 0;
    }
    to {
      width: 100%;
    }
  }
  
  .border-animation {
    animation: slideInFromLeft 0.5s ease-out forwards;
  }
  @media (min-width: 760px) {
    .right-div{
      flex: 1;
      display: flex;
      align-items:center;

    }
    .left-hero-div{
      padding: 10% !important;
      justify-content: center;
      align-items: flex-start;
      text-align: left;
    }
    .hero-features{
      width: 500px;
    }
    .main-img{
      width: 65%;
    }
    .feature-img{
      width: 65%;
      height: auto;
    }
    .hero-h1{
      font-size: 78px;
    }
    .hero-h2{
      font-size: 26px;
    }
    .hero-p{
      font-size: 16px;
    }
  }

  /* @media (min-width: 1300px) {
    .hero-features{
      padding-top: 10%;
    }
    .main-img{
      width: 70%;
    }
    
  } */
  @media (min-height: 800px) {
    .hero-div {
      height: 65vh !important; /* Reduced from 100vh to 75vh */
    }
    .hero-features {
      padding-top: 5%;
    }
  }
  @media (min-height: 700px) and (max-height: 799px) {
    .hero-div {
      height: 75vh !important; /* Adjusted height */
    }
    .hero-features {
      padding-top: 5%;
    }
    .main-img {
      width: 350px; /* Adjusted width */
    }
  }
  
  
  @media (min-width: 1000px) {
    .hero-div{
      height: 85vh;
    }
  }
  @media (max-width: 1024px) {
    .main-img{
      width: 100%;
    }
  }

  @media (max-width: 768px) {
    .right-div {
      display: none;
    }
    .left-hero-div{
      display: flex;
      justify-content: center;
      align-items: center;
      text-align: center;
      /* padding-left: 5%;
      padding-right: 5%; */

    }
  }
  @media (max-width: 760px) {
    .main-img {
      width: 100%;
    }
    .hero-div{
      height: 100vh;
    }
    .left-hero-div{
      display: flex;
      justify-content: center;
      align-items: center;
      text-align: center;
      padding-left: 5%;
      padding-right: 5%;

    }
    .feature-img {
      width: 65%;
    }
    .hero-h1 {
      font-size: 28px;
    }
    .hero-h2 {

      font-size: 18px;
    }
    .hero-p {
      font-size: 16px;
    }
    .right-div {
      display: none;
    }
    /* Make features stack vertically on smaller screens */
    .hero-features {
      flex-direction: column;
      align-items: center; /* Center-align the items for better aesthetics */
    }
    /* Adjust feature container to display in full width */
    .hero-features > div {
      width: 80%; /* Make each feature take the full width */
      justify-content: center; /* Center the content within each feature */
    }
    /* Adjust the image and description containers within each feature for a better mobile layout */
    .hero-features > div > div {
      width: auto; /* Allow the container to fit its content */
      flex-basis: 100%; /* Make each child take the full width of its parent */
    }
  }