.slide-up-animation {
    animation: slideUp 1s ease forwards;
    opacity: 0;
    transform: translateY(100%); /* Start from the bottom */
  }
  
  @keyframes slideUp {
    0% {
      opacity: 0;
      transform: translateY(100%); /* Start from the bottom */
    }
    100% {
      opacity: 1;
      transform: translateY(0); /* Move to normal position */
    }
  }
  

  .slide-in-animation {
    animation: slideIn 1s ease forwards;
    opacity: 0;
    transform: translateY(-100%);
  }
  
  @keyframes slideIn {
    0% {
      opacity: 0;
      transform: translateY(-100%);
    }
    100% {
      opacity: 1;
      transform: translateY(0);
    }
  }
  